.subscribe {
  &__container {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 58px 70px;
    min-height: 233px;
    box-shadow: 0 30px 114px 0 rgba(#0d1025, 0.06);
  }
  &__content {
    max-width: 410px;
  }
}
@media screen and (min-width: 1024px) {
  .subscribe {
    transform: translateY(50%);
  }
}
@media screen and (max-width: 1023px) {
  .subscribe__container {
    padding: 50px 0;
    flex-direction: column;
    gap: 30px 0;
  }
}
